*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 24px;
    /* text-align: center; */
    margin-top: 20px;
    margin-left: 10px;
}

/* .quadrados{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
} */

.quadradoAzul{
    margin-top: 30px;
    background-color: blue;
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.quadradoVermelho{
    margin-top: 20px;
    background-color: red;
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.quadradoAmarelo{
    margin-top: 30px;
    background-color: yellow;
    width: 100px;
    height: 102px;
    margin-left: 50px;
}

#btn-troca-cor{
    margin-top: 20px;
    margin-left: 50px;
    width: 100px;
    height: 30px;
}